/* RESET */
*{
    font-family: 'Bebas Neue', sans-serif;
}

.bg-barra{
    background-color: rgba(150, 149, 147, 0.664);
}
.menu{
    display: flex;
    
    justify-content: center;
    justify-content: space-around;
    
}

.grid_conteiner5{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 0.2fr 2.5fr 1fr;
    grid-template-areas: 
    "menu menu menu"
    "galeria galeria galeria"
    "pie pie pie"
     
 }
 .galeria5{
  
    grid-area: galeria;
}

.pie5{
    grid-area: pie;
    margin-top: 185px;
}

.menu-navegacion5{
    grid-area: menu;
}

.galeria5 p{
    margin-top: 150px;
}

.grid_conteiner2{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 0.2fr 4fr 0.3fr;
    grid-template-areas: 
    "menu menu menu"
    "galeria galeria galeria"
    "pie pie pie"
     
 }


 

.container-fluid{
    display: flex;
    flex-wrap:inherit;
    align-items: center;
    justify-content: space-between;
}


.banner{
    background-image: url('../Image/banner.jpg');
    background-position: center;
    width: 100%;
    height: 30vh;
}

.banner h2{
    font-size: 5em;
    color: rgb(255 255 255 / 41%);
    top: 60%;
    position: relative;
}

.logo{
      width: 15%;
      height: 15%;
}

.titulo h1{
    padding: 40px;
    text-align: center;
    font-size: xx-large;
}



.carousel{
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    margin: 0%;
    padding: 0%;
    
}

.carousel-item{
    width: 500px;
    height: 450px;
}

.carousel-item img{
    width: 90%;

}


.galeria{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 7rem 0 7rem;

}

.galeria{
    
    grid-area: galeria;



}
.grid_conteiner{
   display: grid;
   grid-template-columns: 33% 33% 33%;
   grid-template-rows: 0.2fr 4fr 0.3fr;
   grid-template-areas: 
   "menu menu menu"
   "galeria galeria galeria"
   "pie pie pie"
 
}

.menu-navegacion{
    grid-area: menu;

}

.img{
    width: 20%;
    height: 20%;
}

.carousel-slide{
    grid-area: galeria;
}

.pie{
    grid-area: pie;
    
}



@media (min-width: 300px) and (max-width: 576px){

    .grid_conteiner{
        background-color: rgb(79, 74, 74);
        grid-template-columns: 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   grid-template-areas: 
   "menu "
   "galeria"
   "pie "
        
    }
}
.productos_galeria1 img{
    width: 12rem;
    height: 12rem;
}


.pie{
    display: flex;
    justify-content: left;
    align-items: end;
    height: 10rem;
}

.productos_galeria2 img{
    width: 12rem;
    height: 12rem;
}    

.productos_galeria3 img{
    width: 12rem;
    height: 12rem;
}    

.galeria_button{
    background-color: red;
    color: white;
    border: 2px solid black;

}


.galeria{
    display: flex;
    flex-flow:row;
    justify-content:space-around;
    
}


.turbo{
    width: 25%;
}
nav ul a {
    padding: 5px;
}


footer {
    height: 10px;
}


footer a { 
    padding: 5px;
}