/* RESET */
*{
    font-family: 'Bebas Neue', sans-serif;
    color: antiquewhite;
}

.bg-barra{
    background-color: rgba(150, 149, 147, 0.664);
}
.menu{
    display: flex;
    
    justify-content: center;
    justify-content: space-around;
    
}

.fondo{
    background-image: url('../Image/Backgraund5.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    
}

.grid_conteiner5{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%; 
    grid-template-rows: 0.3fr 1.1fr 2.5fr 0.3fr;
    grid-template-areas: 
    "menu menu menu"
    "logo logo logo"
    "galeria galeria galeria"
    "pie pie pie"
     
 }


 .galeria5{
  
    grid-area: galeria;
}

.video{
    justify-content: center;
}

.pie5{
    grid-area: pie;
    margin-top: 185px;
}

.menu-navegacion5{
    grid-area: menu;
}

.logoinst{
    grid-area: logo;
}

.logoinst{
    display: flex;
    align-items: center;
    justify-content: center;
}
.galeria5 p{
    font-size: x-large;
    margin-top: 100px;
    text-align: center;

}

.grid_conteiner2{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 0.3fr 0.5fr 3fr 0.3fr;
    grid-template-areas: 
    "menu menu menu"
    "titulo titulo titulo"
    "galeria galeria galeria"
    "pie pie pie"
     
 }


.galeriacontacto{
    grid-area: galeria;
}

.galeriacontacto{
    display: flex;
    justify-content: center;
}

.titulocontacto{
    grid-area: titulo;
}

.titulocon h1{
    padding: 40px;
    text-align: center;
    font-size: xxx-large;
    
}

.container-fluid{
    display: flex;
    flex-wrap:inherit;
    align-items: center;
    justify-content: space-between;
}


.banner{
    background-image: url('../Image/banner.jpg');
    background-position: center;
    width: 100%;
    height: 30vh;
}

.banner h2{
    font-size: 5em;
    color: rgb(255 255 255 / 41%);
    top: 60%;
    position: relative;
}

.logo{
      width: 15%;
      height: 15%;
}

.titulo h1{
    padding: 40px;
    text-align: center;
    font-size: xxx-large;
}

.videoinfo{
    display: flex;
    justify-content: center;
}




.carousel-inner{
    display: flex;
    
    overflow: initial;

}

.carousel-item{
    width: 1000px;
    height: 750px;
}



.categoriatitulo h1{
    padding: 40px;
    text-align: center;
    font-size: 80px;

}

.galeria{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 2rem 0 3rem;
}

.galeria{
    
    grid-area: galeria;

}

.productos_galeria{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 14rem;

}


.productos_galeria img{
    width: 14rem;
    height: 12rem;
}    

.galeria_button{
    background-color: red;
    color: white;
    border: 2px solid black;

}


.grid_conteiner{
   display: grid;
   grid-template-columns: 33.3% 33.3% 33.3%;
   grid-template-rows: 0.3fr 0.5fr 3fr 0.3fr;
   grid-template-areas: 
   "menu menu menu"
   "titulo titulo titulo"
   "galeria galeria galeria"
   "pie pie pie"
 
}
.tituloc{
    grid-area: titulo;
}
.galeriac{
    grid-area: galeria;
}

.galeriac{
    display: flex;
    justify-content: center;
}

.titulop{
    grid-area: titulo;
}
.productostitulo{
    padding: 40px;
    text-align: center;
    font-size: 80px;
    top: 20%;    
}
.menu-navegacion{
    grid-area: menu;

}

.img{
    width: 20%;
    height: 20%;
}

.carousel-slide{
    grid-area: galeria;
}

.pie{
    grid-area: pie;
    
}



@media (min-width: 300px) and (max-width: 576px){

    .grid_conteiner{
        
     grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr 1fr 1fr;
   grid-template-areas: 
   "menu "
   "titulo"
   "galeria"
   "pie "
        
    }
    .grid_conteiner2{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "menu "
        "titulo"
        "galeria"
        "pie"
         
     }

     .grid_conteiner5{
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr 1fr 2.5fr 0.3fr;
        grid-template-areas: 
        "menu"
        "logo"
        "galeria"
        "pie"
         
     }
    
}



.pie{
    display: flex;
    justify-content: left;
    align-items: end;
    height: 10rem;
}



.turbo{
    width: 25%;
}
nav ul a {
    padding: 5px;
}


footer {
    height: 10px;
}


footer a { 
    padding: 5px;
}